.container {
    width: 75%;
}

.avatar {
    width: 80px;
    border-radius: 50%;
}

.header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 15%;
}

.messages {
    height: 80%;
}


.input {
    position: relative;
    height: 5%;
    input {
        font-size: 1.2rem;
    }
}

.picker {
    position: absolute;
    top: -325px;
}

.sended {
    display: flex;
    justify-content: flex-end;
}