.container {
    width: 75%;
}

.avatar {
    width: 80px;
    border-radius: 50%;
}

.header {
    border-bottom: 1px solid rgba(112, 124, 151, 0.1);
    background-color: #FAFBFF;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 15%;
}

.messages {
    height: 80%;
    overflow: auto;
}

.message {
    p {
        background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
        box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
        border-radius: 0px 10px 10px 10px;
        padding: 12px;
        border-radius: 4px;
    }
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    height: 5%;
    input {
        font-size: 1.2rem;
    }
}

.picker {
    position: absolute;
    top: -325px;
}

.sended {
    display: flex;
    justify-content: flex-end;
    p {
        background: #FFFFFF;
        border: 1px solid rgba(112, 124, 151, 0.25);
        box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    }
}

.recieved {
    display: flex;
    justify-content: flex-start;
}

.emoji {
    // position: absolute;
    // left: 0;
    // z-index: 10;
}