.container {
    border-right: 1px solid rgba(112, 124, 151, 0.1);
    background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0.2rem;
        &-thumb {
            background-color: white;
            width: 0.1rem;
            border-radius: 1rem;
        }
    }
}

.avatar {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact {
    background: #FFFFFF;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.selected {
    background: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
}