.card {
    width: 280px;
    height: 442px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
}